.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

# Ignore save* and pickled objects
save.*
*.p

# Ignore checkpoints
.ipynb_checkpoints
checkpoint
# Ignore __pycache__
__pycache__

# Transfer learning
codes
flower_photos.tar.gz
flower_photos/
labels
