.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

# Ignore save* and pickled objects
save.*
*.p
*pkl

# Ignore checkpoints
.ipynb_checkpoints
checkpoint
# Ignore __pycache__
__pycache__

# Transfer learning
codes
flower_photos.tar.gz
flower_photos/
labels

# GAN
batch-norm/MNIST_data/
face_generation/data/
semi-supervised/data/
semi-supervised/images/
# Other 
*.meta
*.data-00000-of-00001
*.index
